.react-chatbot-kit-chat-inner-container {
  height: 400px;
}
.react-chatbot-kit-chat-message-container {
  height: 360px;
}
.react-chatbot-kit-chat-container {
  width: 400px;
  height: 440px;
}
.react-chatbot-kit-chat-bot-message {
  width: 300px;
  font-size: small;
  padding: 8px;
}
